<!doctype html>
<html lang="{{ or site.Language.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/syntax.css" />
    <style>
      .profile {
        display: grid;
        align-items: center;
        grid-template-areas:
          "pic name"
          "pic alias";

        h1 {
          margin: 0;
          grid-area: name;
        }

        small {
          grid-area: alias;
        }
      }
    </style>
    <title>{{ .Page.Title }}</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <a class="profile secondary" href="/" aria-current="page">
              <h1>
                <span>SnsAlx</span>
              </h1>
              <small>
                <span>a.k.a.</span>
                <b>Sensei Alex</b>
              </small>
            </a>
          </li>
        </ul>
        <ul>
          <li><a href="/map">map</a></li>
          <li><a href="/basics">basics</a></li>
          <li><a href="#">ru</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      {{ block "main" . }}{{end}}
    </main>

    <footer class="container">
      <small>
        <a href="https://github.com/snsalx">
          <span>Source code</span>
        </a>
      </small>
    </footer>
  </body>
</html>
