:root {
  --accent: light-dark(#1e66f5, #89b4fa);
  --success: light-dark(#40a02b, #a6e3a1);
  --danger: light-dark(#d20f39, #f38ba8);
  --surface: light-dark(#eff1f5, #1e1e2e);
  --subsurface: light-dark(#e6e9ef, #181825);
  --overlay: light-dark(#ccd0da, #313244);
  --overlay-hover: light-dark(#bcc0cc, #45475a);
  --core: light-dark(#dce0e8, #11111b);
  --padding: 0.62rem;
  --gap: 0.62rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  background: inherit;
  font-size: inherit;
  font-family: Iosevka, monospace;
}
body {
  background: var(--surface);
  color: light-dark(#4c4f69, #cdd6f4);
  font-size: 18px;
}

h1 {
  padding: var(--padding);
  font-size: 3rem;
  color: var(--accent);
}
h2 {
  padding: var(--padding);
  font-size: 2rem;
  color: var(--accent);
}
em,
b {
  color: var(--accent);
}
p {
  padding: var(--padding);
}
figure,
img {
  min-width: 0;
  min-height: 0;
}
img {
  object-fit: contain;
}

.button {
  display: grid;
  place-items: center;
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--core);
  border-radius: var(--gap);
  background: var(--overlay);
  color: var(--accent);
  transition: ease-out 0.3s;
}
.button:hover {
  background: var(--overlay-hover);
}

.panel-top {
  background: var(--surface);
}
.panel-bottom {
  background: var(--subsurface);
}

.justify {
  text-align: justify;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}
.accent {
  color: var(--accent);
}
.success {
  color: var(--success);
}
.danger {
  color: var(--danger);
}
