.point {
  position: absolute;
  display: grid;
  place-items: center;
  border: 2px solid var(--accent);
  border-radius: var(--gap);
  background: color-mix(in hsl, var(--overlay), #ffffff88);
  color: var(--accent);
  transition: ease-out 0.3s;
  transform: translate(-50%, -50%);
}
img {
  width: 100%;
}
